@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", San-serif;
}
body{
    display: flex;
    background: #faf5ee;
    width: 1600px;
    height: 1200px;
}
aside{
    background: #5139e2;
    justify-content: center;
    align-items: center;
    border-radius: 0px 8px 8px 0px;
    box-shadow: 0px 8px 8px 0px #5139e2e2;
    width: 300px;
    height: 1200px;
}
.sidebar-header{
    height: 90px;
    width: 100%;
}
.sidebar-header img{
    width: 70px;
    height: 70px;
}
.welcome{
    font-size: 38px;
    color: aliceblue;
    transform: translate(25px, 10px);
}
.user{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    transform: translateX(20px);
}
.admin{
    font-size: 38px;
    color: aliceblue;
    transform: translate(130px, -75px);
}
.sidebar-nav{
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar-nav ul{
    list-style: none;
}
.sidebar-nav li{
    padding: 12px;
    border-radius: 15px;
}
.sidebar-nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 24px;
    font-weight: 300px;
}
.logout{
    transform: translate(-85px, 150px);
}
.sidebar-nav a::before{
    content: "";
    position: absolute;
    width: 267px;
    opacity: 0;
    transform: translate(-8px, 35px);
    outline: none;
    border-radius: 15px;
    background: white;
    transition: .3s ease-in;
    transform-origin: bottom left;
    border: 1px solid white;
}
.sidebar-nav a:hover::before{
    opacity: 1;
    transform-origin: bottom right;
}

.content{
    font-size: 24px;
    margin-left: 10px;
    padding: 20px;
    flex-grow: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #ebbd59;
}

td {
    background-color: white;
}

.box {
    background-color: #faf5ee;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #adadad;
}

.content button {
    padding: 5px;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    width: 60px;
    border: none;
}

.edit{
    background-color: green;
}

.delete{
    background-color: red;
}

#button11{
    background-color: #3b25ff;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
}

#button12{
    background-color: #3b25ff;
    padding: 10px;
    width: 110px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
}

#button13{
    background-color: #3b25ff;
    padding: 10px;
    width: 110px;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.mbutton{
    gap: 10px;
    display: flex;
}